{% extends "base.html.twig" %}

{% trans_default_domain 'cpayment' %}


{% block title %}
<title>{{ 'cpayment.show.title' | trans }} | {{ parent() }}</title>

{% endblock %}

{% block content_header %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Afficher un cpayment</h1>

      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ path('admin_cpayment_index') }}">cpayments</a></li>
          <li class="breadcrumb-item active"> {{ cpayment.id | trans}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

{% endblock %}


{% block content %}


    <div class="row">
      <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
          <div class="card-header d-flex p-0">

            <ul class="nav nav-pills p-2">
              <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Coordonnées</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Examen</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Paiement</a></li>

            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
          <div class="box-header with-border">
          <a href="{{ path('admin_cpayment_index') }}" class="btn btn-sm btn-primary">
        		<i class="fa fa-reply" aria-hidden="true"></i>
        		{{ 'actions.back_to_list' | trans({}, 'AppBundle') }}
        	</a>
    <div class="pull-right">

    </div>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">

TEST35()

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
TEST1
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
TEST3
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- ./card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{% endblock %}
