<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ar" xml:lang="ar" dir="rtl">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   {# admine class #}
    <link rel="stylesheet" href="{{ asset("css/style.css")}}">
    <title></title>
    <style type="text/css">
    /* pdf  */
    dt {
      font-weight: bold;
      /* text-decoration: underline; */
      font-size: 20px;
      display: inline-block;
    }
    dd {
      margin: 0;
        font-size: 20px;
      padding: 0;

      display: inline-block;

    }
    .name{
      font-weight: bold;
      /* text-decoration: underline; */
      font-size: 20px;
    }
    p
    {
      font-size: 20px;
    }
    body{
      size: 21cm 29.7cm;
 margin: 10mm 20mm 20mm 20mm;
    }
    .marge{
      margin-left:40px;
    }
    tr{
      width: 100%;
    }
    th,td {
      width: 50%;
      text-align:center;
    }


    </style>
  </head>
  <body>
<div class="content">
<div class="title">
  <center>
<h2>عقد التكوين بين المرشح ومؤسسة تعليم السياقة</h2>
<h2>رخصة السياقة من صنف ''ب'</h2>
</h3>
  </center>
</div>
<dl>
    <dt>رقم: </dt>
    <dd>--</dd>

    <dt>بتاريخ: </dt>

    <dd>
{{ datenow| date('Y/m/d')}}
    </dd>

</dl>
<label class="name"> طرفي العقد:</label><br>
<label class="name">هذا العقد مبرم بين : </label>
<label >بدر الدين كريشي</label> <br>
<label class="name">مؤسسة تعليم السياقة: </label>
<label >كريشي</label> <br>
<label class="name">رقم القيد في السجل الوطني الخاص بمؤسسات تعليم السياقة (رقم الرخصة) : </label>
<label>1160</label><br>
<label class="name"> العنوان </label>
<label>حي الفرح 3 رقم 253 بنسركاو</label><br>
<label class="name">رقم القيد في سجل الضريبة المهنية :  </label>
<label>55028192</label><br>
<label class="name">رقم القيد في السجل التجاري:  </label>
<label class="marge">25871</label>
<label class="name"> المدينة </label>
<label >أكادير</label> <br>
<label class="name"> الهاتف </label>
<label>0661710754</label>
<label class="name">البريد الالكتروني :</label>
<label>autoecolegourichi@gmail.com</label> <br>
<center>
<h3>
المسماة "مؤسسة كريش ي لتعليم السياقة "
</h3>
</center>

<label class="name">والسيد (ة) :</label>
<label>{{candidat.firstNameAr ~ " " ~ candidat.lastNameAr | default("--")}}</label><br>
<label class="name">رقم ب.و.ت.إ :</label>
<label>{{candidat.carteIdentite | default("--")}}</label>
<label class="name">المزداد(ة) ب</label>
<label>{{candidat.lieuNaissanceAr | default("--")}}</label>
<label class="name">بتاريخ :</label>
<label>{{candidat.dateNaissance | date('Y/m/d')}}</label><br>
<label class="name">القاطن (ة) ب :</label>
<label>{{candidat.addressAr | default("--")}}</label><br>
<label class="name">الرقم الممنوح من طرف الإدارة (référence web) :</label>
<label>{{candidat.numeroInscription | default("--")}}</label><br>
<center>
<h3>
المسمى(ة) {{ candidat.firstNameAr ~ " " ~ candidat.lastNameAr | default("--")}}
</h3>
</center>

<center>
<h3>
 اتفــــق الطرفــــان علـــى ما يلـــي
</h3>
</center>

<h3>المادة الأولـى : موضوع العقد</h3>
<p>
يهدف هذا العقد إلى تكوين المرشح وتمكينه من اكتساب المعارف والمهارات الضرورية اللازمة التي تمكنه من سياقة مركبة تتطلب قيادتها
رخصة السياقة من صنف ''ب ''، طبقا للبرامج المحددة من طرف الإدارة.<br>
كما يحدد حقوق وواجبات كلا الطرفين مع مراعاة القوانين والأنظمة الجاري بها العمل في هذا الشأن
<br>
</p>
<h3>المادة  الثانية : مدة العقد</h3>
<p>يمتد هذا العقد لمدة ستة أشهر ابتداء من تاريخ توقيعه. ويمكن تمديده، في حالة الاتفاق بين الطرفين، لمدة لا تتعدى ثلاثة أشهر.</p>
<h3>المادة التالتة  : التزامات المؤسسة</h3>
<p>تلتزم المؤسسة بتكوين المرشح طبقا للبرنامج الوطني لتعليم السياقة.
</p>
<p>تلقن الدروس النظرية والتطبيقية، تحت إشراف مدير المؤسسة، من طرف مدرب أو مدربي تعليم السياقة مرخص لهم، تشغلهم
المادة  الثانية : مدة العقد لهذا الغرض وبواسطة مركبات لتعليم السياقة في ملكيتها.
</p>
<p>تلتزم المؤسسة بتوفير المركبة التي يتم بواسطتها إجراء الاختبار التطبيقي.
</p>
<p>
لا يمكن الشروع في التكوين النظري إلا بعد حصول المرشح على رقم التسجيل الممنوح له من طرف الإدارة.
 </p>
 <p>
 تلتزم المؤسسة بإخبار المرشح فورا بحصوله على هذا الرقم، كما تلتزم بتسليم المرشح شهادة نهاية التكوين فور إنهائه له.

 </p>

 <p>تحتفظ المؤسسة بحق إرجاء دروس التكوين إلى تاريخ لاحق في حالة قوة قاهرة وفي كل الحالات التي تكون فيها السلامة غير متوفرة.
</p>
<p>
بعد استفادة المرشح من عدد ساعات التكوين النظري والتطبيقي المتفق عليها، تلتزم المؤسسة بتقديمه لاجتياز الامتحانات لنيل رخصة
السياقة في حدود المقاعد الممنوحة من طرف الإدارة .
</p>
<h3>المادة الرابعة  : التزامات المرشج</h3>
<p>إذا توقف المرشح عن التكوين، سواء بصفة مؤقتة أو نهائية، وكيفما كانت الأسباب، يلتزم بإخبار المؤسسة كتابيا،
</p>
<p>في حالة التوقف لأكثر من ثلاثة ( )3أشهر متتالية، يحق للمؤسسة مطالبة المرشح بأداء مبالغ الخدمات المتبقية، وغير المؤداة ؛
إذا انقطع المرشح عن التكوين لمدة تفوق ستة ( )6أشهر، يعتبر متخليا عن التكوين ولا يحق له أن يسترجع ما دفعه من أجله.
</p>
<p>إذا تخلى المرشح عن التكوين لسبب يعود له، يؤدي التعريفة كاملـة.
</p>
<p>في حالة عدم النجاح في الامتحان، يلتزم المرشح بأداء مصاريف إعادة تكوينه وفقا لنفس التعريفة.
</p>

<h3>المادة الخامسة  : مدة التكوين</h3>

<p>اتفق الطرفان على تحديد عدد ساعات التكوين في ...... ساعة بالنسبة للتكوين النظري و ....... ساعة بالنسبة للتكوين التطبيقي. لا يقل
هذا العدد عن العدد الأدنى المحدد بالمادة  32من دفتر التحملات الخاص بفتح واستغلال مؤسسات تعليم السياقة.
</p>
<h3>المادة السابعة :  كيفيات الأداء</h3>
<p>تحتسب التعريفة الإجمالية للتكوين على أساس تعريفة ساعة التكوين النظري والتطبيقي المحددة في المادة  1من القرار الذي يحدد
تعريفة ساعة التكوين النظري والتطبيقي.
</p>
<h3>المادة  : 7كيفيات الأداء
</h3>
<p>تسلم للمرشح فاتورة تحدد المبالغ المدفوعة للمؤسسة. تكون هذه الفاتورة مؤرخة وموقعة من طرف صاحب المؤسسة تحمل هذه
الفاتورة اسم وطابع المؤسسة، وفقا للتشريعات الجاري بها العمل.
</p>
<p>في حالة الاتفاق بين الطرفين، يمكن أداء مبلغ التكوين على أقساط.
</p>

<center><h5>عقد محرر في ثلاثة نظائر أصلية،</h5></center>
<dl>
  <dt>حرر ب  :
</dt>
    <dd class="marge">أكادير</dd>

    <dt>بتاريخ :
  </dt>
      <dd>
      <br>

{{ datenow| date('Y/m/d')}}
 </dd>
</dl>


<table>
  <tr>
    <th class="name">توقيع صاحب المؤسسة أو ممثله القانوني</th>
    <th class="name " >توقيع المرشح أو ولي أمره مصادق عليه،</th>

  </tr>

</table>







  </body>
  <script type="text/javascript">
window.addEventListener("load", window.print());
  </script>
</html>
