{% extends 'base.html.twig' %}
{% trans_default_domain 'Candidat' %}
{% block title %}
<title>{{ 'candidat.index.title' | trans }}</title>

{% endblock %}
{% block content_header %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{ 'candidat.index.title' | trans }}</h1>

      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">{{ 'candidat.index.title' | trans }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

{% endblock %}

{% block content %}
<div class="row">



         <div class="col-12">
           <div class="card">
             <div class="card-header">

               <div class="box-actions">
                   <a href="{{ path('admin_candidat_new') }}" class="btn btn-primary">
                       {{ 'candidat.new.title' | trans() }}
                   </a>

               </div>
               <div class="card-tools">

                 <div class="input-group input-group-sm" style="width: 150px;">
                   <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                   <div class="input-group-append">
                     <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                   </div>
                 </div>
               </div>
             </div>
             <!-- /.card-header -->
                {% if candidats is not empty %}
             <div class="card-body table-responsive p-0">
               <table class="table table-hover text-nowrap">
                 <thead>
                   <tr>
                   <th>Photo</th>
                     <th>CIN</th>
                     <th>Nom</th>
                     <th>Télephone</th>
                     <th>email</th>
                     <th>Adresse</th>
                     <th>Proffession</th>
                      <th>Type permis</th>
                     <th>Actions</th>
                   </tr>
                 </thead>
                 <tbody>
                 {% for candidat in candidats %}
                 <tr>
                 <td  class="hidden-xs hidden-sm">
                 {% if candidat.photo is not empty %}

               <a href="{{ path('admin_candidat_show', { 'id': candidat.id }) }}">
               <img  class="imagine" src="{{ asset('uploads/images/candidat/' ~ candidat.photo)}}"  />
               </a>
               {% else %}
                 <img  class="imagine" src="{{ asset('uploads/images/user.png')}}"  />


             {% endif %}
                 </td>
                 <td  class="hidden-xs hidden-sm"><a href="#">{{ candidat.carteIdentite }}</a></td>
                 <td><a class="gras" href="#">{{candidat.lastName ~ " " ~ candidat.firstName | default("--")}}</a>
                 </td>
                 <td  class="hidden-xs hidden-sm">
                     {{ candidat.telephone1 | default("--") }}
                 </td>
                 <td  class="hidden-xs hidden-sm"> {{candidat.email | default("--")}}  </td>
                 <td  class="hidden-xs hidden-sm"> {{candidat.address | default("--")}}</td>
                  <td  class="hidden-xs hidden-sm"> {{candidat.job | default("--")}}</td>
                   <td  class="hidden-xs hidden-sm"> {{candidat.typePermis | default("--")}}</td>
                 <td>
                    <a href="{{ path('admin_candidat_show', { 'id': candidat.id }) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Afficher">
                   		<i class="fa fa-eye"></i>
                   	</a>
                    <a href="{{ path('admin_candidat_edit', { 'id': candidat.id }) }}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Modifier">
                   		<i class="fa fa-pencil-square-o"></i>
                   	</a>
                   	<a href="{{ path('admin_candidat_delete', { 'id': candidat.id }) }}" class="btn btn-danger btn-sm" >
                   		<i class="fa fa-trash-o"></i>
                   	</a>

                 </td>
                 </tr>

                     {% endfor %}
                 </tbody>
               </table>
             </div>
             {% else %}
               <div class="empty-box">
                 <i class="fa fa-frown-o" aria-hidden="true"></i>
                 <p>{{ 'emptyBox.title' | trans ({}, 'AppBundle')}}</p>
                <a href="{{ path('admin_candidat_new') }}" class="btn btn-primary btn-sm">
                    {{ 'candidat.new.title' | trans }}
                </a>

               </div>
      {% endif %}
             <!-- /.card-body -->
           </div>
           <!-- /.card -->
         </div>
       </div>
       <!-- /.row -->
{% endblock %}
